@import "tailwindcss";
@plugin '../hero.ts';

@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@layer base {
  /* Menyembunyikan scrollbar untuk Chrome, Safari, dan Opera */
  ::-webkit-scrollbar {
    display: none;
  }

  /* Menyembunyikan scrollbar untuk IE, Edge, dan Firefox */
  html {
    -ms-overflow-style: none; /* IE dan Edge */
    scrollbar-width: none; /* Firefox */
    scroll-behavior: smooth; /* Opsional: Agar scroll tetap terasa halus */
  }

  body {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
